body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

a{
  color: #3C9BF8;
  text-decoration: none;
}

p{
  margin-top: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
  color: gray;
}

input{
  width: 80%;
  margin: 5px 0 5px 0;
  color:gray;
}

#signUp p{
  margin-left: 20%;
  margin-right: 20%;
}

#signUp input{
  width: 80%;
}

#logo{
  height:50%;
  width:50%;
}

#prevLogin p{
  color: black;
}

#big{
  font-weight: bold;
}

#storeLogos{
  margin: 0;
}

#storeLogos{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 0;
  border: 0px;
}

#storeLogos div{
  width: 50%;
}

#storeLogos img{
  margin:0;
}

#prevLogin{
  margin-top: 20px;
}

#remind{
  border: none;
  margin: 20px 0;
}

#remind p{
  color:black;
  font-size: 12px;
}

#copyright p{
  margin-left: 100px;
  color: lightgray;
  font-size: 10px;
}

form input{
  margin-top: 10px;
  height:20px;
  width: 200px;
}


.lineThing{
  display: flex;
}

hr{
  width: 500px;
}

button{
  height: 30px;
  width: 80%;
  background-color: #1492f7;
  color:white;
  margin-bottom: 10px;
}
footer{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  display: flex;
  flex-flow: row;
}

footer p{
  margin-left: 20px;
  margin-right: 20px;
  color: #001f8d;
  font-size: 12px;
}

.container{
  margin: 100px;
  margin-left: 275px;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.phoneContainer img{
  height: 580px;
}

.container div{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.signContainer{
  justify-content: center;
  align-items: center;
  width: 400px;
}

.signContainer > div{
  border: 1px solid lightgray;
}

.fa {
  height: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook{
  background: white;
  color: #1492f7;
}

.lineThing p{
  padding-top: 10px;
  font-size: 12px;
}
